<main class="w-full h-screen bg-white p-4 rounded-xl shadow">
  <div class="flex flex-col space-y-4 justify-center">
    <div class="flex flex-row items-center rounded-xl bg-zinc-200 hover:border hover:border-orange-200 p-3 shadow">Here is the content</div>
  </div>
</main>
